.tabs
    padding 10px
    margin 0
    list-style-type none
    font-size 0

.tabsItem
    margin-right 10px
    padding 10px
    border 1px solid #000
    font-size 14px
    font-weight bold
    display inline-block
    cursor pointer
    opacity .4
    user-select none

.active
    composes: tabsItem
    opacity 1
    cursor default
