.dropdown
	position relative
	padding-left 20px
	width 150px
	background-color green
	color #fff
	font-weight 900

.dropdownTriangle
	position absolute
	right 5px
	top 5px
	display inline-block
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 10px 5px 0 5px;
	border-color: #ffffff transparent transparent transparent;
	transition transform .3s ease
.rotated
	transform rotate(180deg)

