.accordion {
  list-style: none;
}

.title {
  color: green;
  font-weight: bold;
  cursor: pointer;
  &:before {
    content: '▸';
    display: inline-block;
    margin-right: 5px;
    vertical-align top;
  }
}

.titleOpened {
  &:before {
    transform: rotate(90deg);
  }
}
